ion-content ion-toolbar {
  --background: translucent;
  z-index: inherit;
}

ion-button ion-badge {
  position: absolute;
  font-size: 6px;
  bottom: 0px;
  right: -0.2rem;
  opacity: 0.9;
}

ion-button ion-badge ~ ion-icon {
  margin-right: 1.2rem;
}
